.main {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  background-color: #fff;
}
.banner {
  position: relative;
}
.banner img {
  display: block;
}
.bgImg {
  width: 100%;
  height: auto;
}
.topImg {
  position: absolute;
  width: 3.813rem;
  height: 3.813rem;
  top: 50%;
  left: 50%;
  margin-top: -1.9065rem;
  margin-left: -1.9065rem;
}
#gre {
  height: 0.5rem;
  width: 100%;
  background-color: #f5f5f5;
}
.mainNav {
  background-color: #fff;
  padding: 3.5rem 0 0 0;
}
.mainNav div {
  margin-bottom: 2rem;
}
.mainNav div a {
  display: block;
  position: relative;
}
.mainNav img {
  width: 3.75rem;
  height: 3.75rem;
  display: block;
  margin: 0 auto;
}
.mainNav span {
  position: absolute;
  text-align: center;
  width: 3.75rem;
  height: 2rem;
  line-height: 2rem;
  top: 30%;
  left: 50%;
  margin-top: -1rem;
  margin-left: -1.875rem;
  color: #fff;
  font-size: 0.823rem;
}
.mainNav p {
  font-size: 1.063rem;
  color: #333333;
  margin-top: 0.938rem;
}
(node:16240) [DEP0026] DeprecationWarning: util.print is deprecated. Use console.log instead.
